<div class="jumbotron center">
<h1>Welcome To My App!</h1>
<h2>Design in Progress...</h2>
<p>Click Here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %><%= link_to "Log In", "#", class: "btn btn-primary btn-lg" %></p>

</div class="jumbotron">